# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Project files
*.Rproj
.Rproj.user/

# Environment variables (just in case!)
.env

# Data files
data/